<?xml version="1.0" encoding="utf-8"?>
<AnalyticsConfiguration>
  <Username>TAdJqSiXimJSfXC8kVLjRA==</Username>
  <Password>TAdJqSiXimJSfXC8kVLjRA==</Password>
  <AccountId>TAdJqSiXimJSfXC8kVLjRA==</AccountId>
  <AccountName>TAdJqSiXimJSfXC8kVLjRA==</AccountName>
  <Id>TAdJqSiXimJSfXC8kVLjRA==</Id>
  <ProfileId>TAdJqSiXimJSfXC8kVLjRA==</ProfileId>
  <Title>TAdJqSiXimJSfXC8kVLjRA==</Title>
  <WebPropertyId>TAdJqSiXimJSfXC8kVLjRA==</WebPropertyId>
</AnalyticsConfiguration>