<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0" mediaPlayerMode="Silverlight" videoTag="Object">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 120 px by smaller side" Size="120" method="ResizeFitToSideArguments" name="thumbnail" />
				<add title="Thumbnail: 200x200 px" MaxHeight="200" MaxWidth="200" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb200" />
				<add title="Thumbnail: 160x160 px" MaxHeight="160" MaxWidth="160" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb160" />
				<add title="Thumbnail: 80x80 px" MaxHeight="80" MaxWidth="80" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb80" />
				<add title="Thumbnail: 36x36 px" MaxHeight="36" MaxWidth="36" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb36" />
			</thumbnails>
		</thumbnails>
	</images>
	<videos AllowedExensionsSettings=".wmv">
		<thumbnails>
			<thumbnails>
				<add default="False" name="vthumbnail" />
				<add title="Thumbnail: 120 px by smaller side" Size="120" Quality="Medium" method="ResizeFitToSideArguments" default="True" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</videos>
	<contentViewControls>
		<contentViewControl definitionName="DocumentsBackend">
			<views>
				<config:lazy key="DocumentsBackendList" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendList.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" />
		<add enableCommentsBackwardCompatibility="True" name="SystemLibrariesProvider" />
	</providers>
</librariesConfig>