<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.1.4600.0">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 120 px by smaller side" Size="120" method="ResizeFitToSideArguments" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</images>
	<videos>
		<thumbnails>
			<thumbnails>
				<add default="False" name="vthumbnail" />
				<add title="Thumbnail: 120 px by smaller side" Size="120" Quality="Medium" method="ResizeFitToSideArguments" default="True" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</videos>
	<contentViewControls>
		<contentViewControl definitionName="DocumentsBackend">
			<views>
				<config:lazy key="DocumentsBackendList" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendList.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</librariesConfig>