<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<contentViewControls>
		<contentViewControl definitionName="NewsCommentsFrontend" config:flags="1">
			<views>
				<view sortExpression="PublicationDate ASC" viewName="CommentsMasterView" config:flags="1" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers>
		<add urlFormat="/[UrlName]" enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" config:flags="1" />
	</providers>
</newsConfig>