<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0">
	<profiles>
		<add defaultSenderEmailAddress="test@example.com" host="127.0.0.1" useAuthentication="True" username="Your Username" password="Your Password" profileName="Default" />
		<add defaultSenderEmailAddress="test@example.com" profileName="SendGrid" />
		<add defaultSenderEmailAddress="test@example.com" profileName="Mandrill" />
		<add defaultSenderEmailAddress="test@example.com" profileName="MailGun" />
	</profiles>
</notificationsConfig>