<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" homePageId="87ee39ce-a576-4cf7-8349-a983a663a743" defaultFrontendTemplateId="e50c0b92-4eb7-4019-8eb0-8a4e6f78f1ba" backendHomePageId="45d368fb-a8a8-4cb0-8929-9f5d2f788882" />