<?xml version="1.0" encoding="utf-8"?>
<responsiveDesignConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0" enabled="True">
	<controlTransformationElements>
		<remove name="ToToggleMenu" />
		<add transformationCss="{{selector}} .sfNavToggle&#xA;{&#xA;        display: block;&#xA;&#x9;float: right;&#xA;}&#xA;{{selector}} .sfNavList, {{selector}} .sfNavSelect, {{selector}} .k-plus, {{selector}} .k-minus&#xA;{&#xA;        display: none;&#xA;}&#xA;{{selector}} .sfNavList.sfShown&#xA;{&#xA;        display: block;&#xA;}&#xA;{{selector}} li&#xA;{&#xA;        margin-left: 0;&#xA;        float: none !important;&#xA;}&#xA;{{selector}} ul.sfNavHorizontalSiteMap &gt; li, {{selector}} .sfLevel1&#xA;{&#xA;        margin-bottom: 10px;&#xA;}&#xA;{{selector}} .k-animation-container, {{selector}} .k-menu .k-group, {{selector}} .k-treeview .k-group .k-group&#xA;{&#xA;        position: static !important;&#xA;        display: block !important;&#xA;        transform: none !important;&#xA;}&#xA;{{selector}} .k-group&#xA;{&#xA;        margin-left: 10px;&#xA;}&#xA;" title="ToToggleMenu" resourceClassId="ResponsiveDesignResources" isActive="True" name="ToToggleMenu" />
	</controlTransformationElements>
</responsiveDesignConfig>