<?xml version="1.0" encoding="utf-8"?>
<virtualPathSettingsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.1.4600.0">
	<virtualPaths>
		<add resourceLocation="Telerik.Sitefinity.Forums" resolverName="EmbeddedResourceResolver" virtualPath="~/SFForums/*" />
		<add resourceLocation="Telerik.Sitefinity.Ecommerce" resolverName="EmbeddedResourceResolver" virtualPath="~/SFEcommerce/*" />
		<add resourceLocation="Telerik.Sitefinity.Personalization.Impl" resolverName="EmbeddedResourceResolver" virtualPath="~/SFPersonalization/*" />
		<add resourceLocation="Telerik.Sitefinity.MobileAppBuilder" resolverName="EmbeddedResourceResolver" virtualPath="~/MobileAppBuilder/*" />
		<add resourceLocation="Telerik.Sitefinity.SharepointConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/SFConnector/*" />
		<add resourceLocation="Telerik.Sitefinity.EverliveConnector" resolverName="EmbeddedResourceResolver" virtualPath="~/EverliveConnector/*" />
		<add resourceLocation="OauthExternalAuthentication" resolverName="EmbeddedResourceResolver" virtualPath="~/oauth/*" />
	</virtualPaths>
</virtualPathSettingsConfig>